NEXT_PUBLIC_APP_NAME=EAU Entrance Prep
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=@ETaviation_bot
NEXT_PUBLIC_MINI_APP_URL=https://aviation-cyan.vercel.app/

NEXT_PUBLIC_SUPABASE_URL=https://irasmbfqhrrsdtmgpzrf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_vYQe4748nsPcSCdfRrHBOQ_dpnXDeWN

DATABASE_URL=postgresql://postgres:1Y2y3y4y5y6y7y8y@db.irasmbfqhrrsdtmgpzrf.supabase.co:5432/postgres
TELEGRAM_BOT_TOKEN=7237825646:AAGsZiR0nE-Ytv6BXOXTkX5cvcAX3fZB-v8
TELEGRAM_BOT_WEBHOOK_SECRET=choose_a_strong_secret
TELEGRAM_ADMIN_CHAT_ID=5827966050
TELEGRAM_APPROVAL_NOTICE_MINUTES=60
